* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    background-color: #453ca9;
}

/* About Container */

#main_conttainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    border-bottom: 1px solid gray;
}

#personal_image {
    width: 40%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.274)), url(https://images.unsplash.com/photo-1537798940677-3a32549cb1f4?auto=format&fit=crop&q=80&w=1949&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-right: 1px solid gray;
}

#personal_image h3 {
    position: absolute;
    top: 45%;
    rotate: -90deg;
    font-size: 40px;
    color: #453ca9;
}

#right_div {
    width: 60%;
    height: 100vh;
    background-color: #030207;
    color: white;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.247), rgba(67, 60, 167, 0.242))
}

#menu_items {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#menu a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
}

#menu a:hover {
    color: #453ca9;
    text-decoration: underline;
    transition: all ease-in 0.2s;
}

#menu a:active {
    transition: all ease-in 0.8s;
}

#right_div h2 {
    position: relative;
    top: 25%;
    left: 16%;
    font-size: 70px;
    font-weight: 300;
}

#right_div h5 {
    position: relative;
    top: 27%;
    left: 15%;
    font-size: 20px;
    font-weight: 500;
}

#right_div p {
    position: relative;
    top: 20.5%;
    left: 20%;
    font-size: 30px;
}

#right_div img {
    height: 30px;
    width: 30px;
    position: relative;
    top: 25%;
    left: 16%;
}

/* Work Container */

#work_container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #030207;
    color: white;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.342), rgba(67, 60, 167, 0.253));
    border-bottom: 1px solid gray;

}

#work_container h3 {
    position: absolute;
    top: 45%;
    rotate: -90deg;
    font-size: 40px;
    color: #453ca9;
}

.website_1 {
    width: 100%;
    height: 50%;
    margin-top: 95px;
    display: flex
}

.content {
    margin-left: 7%;
}

.content h4 {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 8px;
}

.content p {
    font-size: 14px;
    margin-bottom: 8px;
}

.click_btn {
    background-color: transparent;
    padding: 7px 5px;
    border-style: hidden;
    border-radius: 8px;
    color: #fff;
    margin-right: 8px;
    font-weight: 500;
    margin-bottom: 12px;
    border: 2px solid #453ca9;
}

.click_btn:hover {
    background-color: #453ca9;
    transition: all ease-in 0.7s;
}

.anchor_img a {
    display: inline;
    text-decoration: none;
    color: white;
}

.content_img{
    width: 60%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.content_img img {
    width: 44%;
    height: 28vh;
    border: 4px solid #453ca9;
}

.anchor_img {
    padding: 6px 6px;
    width: 70px;
    border: 2px solid #453ca9;
    border-radius: 8px;
}

.anchor_img img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

#website_2 {
    width: 100%;
    height: 50%;
    margin-top: 95px;
    display: flex;
    margin-bottom: 95px;
}

#content1{
    margin-left: 27%;
}

#content1 h4 {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 8px;
}

#content1 p {
    font-size: 14px;
    margin-bottom: 8px;
}

#anchor_img1 a {
    display: inline;
    text-decoration: none;
    color: white;
}

#anchor_img1 img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

#anchor_img1 {
    padding: 6px 6px;
    width: 70px;
    border: 2px solid #453ca9;
    border-radius: 8px;
}

#content_img1{
    width: 35%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#content_img1 img {
    width: 100%;
    height: 28vh;
    margin-left: 20%;
    border: 4px solid #453ca9;
}

/* Blog Container */

#blog_conatiner {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #030207;
    color: white;
    display: flex;
    padding-top: 95px;
    padding-bottom: 95px;
    border-bottom: 1px solid gray;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.247), rgba(67, 60, 167, 0.242))
}

#blog_conatiner h3 {
    position: absolute;
    top: 45%;
    rotate: -90deg;
    font-size: 40px;
    color: #453ca9;
}

#blog_1 {
    width: 100%;
    height: 50%;
    margin-left: 6%;
}

#blog_1 h4 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 8px;
}

#blog_1 p {
    font-size: 16px;
    width: 65%;
}

#blog_1 span {
    font-size: 16px;
    color: #453ca9;
    font-weight: 600;
}

#blog_1 img {
    width: 70%;
    height: 20%;
    border-radius: 8px;
    margin-bottom: 8px;
}

#blog_2 {
    width: 100%;
    height: 50%;
}

#blog_2 h4 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 8px;
}

#blog_2 p {
    font-size: 16px;
    width: 65%;
}

#blog_2 span {
    font-size: 16px;
    color: #453ca9;
    font-weight: 600;
}

#blog_2 img {
    width: 80%;
    height: 43vh;
    border-radius: 8px;
    margin-bottom: 8px;
}

/* Contact Container */

#contact_container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #030207;
    color: white;
    display: flex;
    padding-top: 95px;
    padding-bottom: 95px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.342), rgba(67, 60, 167, 0.253));
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
}

#contact_container h3 {
    position: absolute;
    top: 45%;
    rotate: -90deg;
    color: #453ca9;
    margin-left: 5px;
    scale: 2;
}

#div_center {
    width: 40%;
    height: 70vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    margin-left: 30%;
    border-radius: 10px;
    padding: 5% 3%;
    background-color: rgba(128, 128, 128, 0.164);
}

#contact_form {
    display: flex;
    flex-direction: column;
}

#contact_form .field {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #453ca9;
    margin-bottom: 10%;
    width: 450px;
    height: 35px;
    font-size: 18px;
    color: white;
}

#contact_form .field::placeholder {
    color: white;
    opacity: 80%;
}

#btn {
    display: flex;
}

#submit_btn {
    padding: 8px 32px;
    width: 32%;
    border: 2px solid #453ca9;
    border-radius: 8px;
}

#submit_btn a {
    text-decoration: none;
    color: white;
}

#submit_btn img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

#submit_btn:hover {
    background-color: #453ca9;
    transition: all ease-in 0.5s;
}

#download_resume {
    padding: 8px 30px;
    width: 50%;
    border: 2px solid #453ca9;
    border-radius: 8px;
    margin-left: 8px;
}

#download_resume a {
    text-decoration: none;
    color: white;
}

#download_resume img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

#download_resume:hover {
    background-color: #453ca9;
    transition: all ease-in 0.5s;
}